#container{
   background-color: rgb(242, 244, 247);;
   width: 75vw;
   height: 75vh;
   margin: auto;
}
footer{
   background-color: white;
   margin: auto;
   width: 73vw;
   height: 15vh;
   padding: 1vw;
}
a{
   text-decoration: none;
   font-weight: bold;
   color: black;
}
p{
   font-size: 2em;
   text-align: center;
}